$bg_color: rgba(55, 63, 56, 0.7);
$screen_color: #000000;
$text_light: #ffffff;
$text_light_opacity: #ffffff88;
$text_dark: #000000;
$button_light: #ABABB1;
$button_dark: #3A3A3C;
$button_yellow: #FF9500;
$focus_input: #ABABB1;
$focus_light: #757579;
$focus_dark: #757575;
$focus_yellow: #b66b03;
$uncorrect_color: #fdb3b375;
